// Colors
$black: #222222;
$green: #1DBF73;
$orange: #FBA457;
$lightgray: #F2F0FE;
$lightviolet: #F7F6FF;
$violet: #B0AAD0;
$darkviolet: #5E4EDB;
$white: #F6FAFD;

// Fonts
$mainFont: 'Montserrat', sans-serif;