@import 'parts/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
    color: $black;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 16px;
}

html,
body {
    overflow-x: hidden;
}